// BEGIN spb-page
.spb-page {
	background: url(../../images/bg-spb.jpg) center center no-repeat;
}
.why-we__right-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: 25px;
	&:first-child {
		margin-top: 0;
	}
}
.why-we__number {
	font-size: 48px;
    color: $green;
    margin-right: 10px;
    font-family: $font-light-condensed;
    min-width: 60px;
    line-height: 1;
}
.why-we__grid--editable {
	.why-we__left {
		max-width: 280px;
	}
	.why-we__right {
		max-width: 880px;
	}
}
.how-order {
	padding: 90px 0;
	h2 {
		font-family: $font-light;
		color: #fff;
	}
	.how-order__grid {
		display: flex;
		justify-content: flex-start;
		margin-top: 30px;
	}
	img {
		max-width: 77px;
		max-height: 77px;
		height: auto;
		margin-right: 25px;
	}
	p {
		font-size: 18px;
		color: #fff;
		font-family: $font-light;
		line-height: 1.2;
		max-width: 870px;
		span {
			font-family: $font-regular;
			font-size: 20px;
		}
	}
}

// BEGIN spb-page