@import "_reset";
@import "_fonts";
@import "_mixin";
// Myself additional mixins/classes
a,
input,
img,
textarea,
button {
    outline: none;
}

p {
    margin: 0;
    padding: 0;
}

.input-group {
    &.inline-group {
        display: inline-block;
        vertical-align: middle;
    }
}

* {
    box-sizing: border-box;
}

.svg-container,
.popupwindow {
    display: none;
}

//
.global_wrapper {
    font-family: 'AkzidenzGroteskPro-Regular', sans-serif, Arial;
    font-weight: normal;
    font-style: normal;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.wrapper-main {
    // max-width: 1920px;
    // min-width: 1025px;
    overflow: hidden;
    margin: 0 auto;
    background: #fff;
}

.container {
    @include bs();
    @include cf();
    margin: 0 auto;
    overflow: hidden;
    max-width: 1310px;
    padding: 0 35px;
    width: 100%;
    &.w-oh {
        overflow: visible;
    }
}

// variables
$dark: #262e39;
$grey: #383838;
$light-grey: #898989;
$green: #5ab947;
$dark-green: #437c37;

$font-light: 'AkzidenzGroteskPro-Light',
sans-serif,
Arial;
$font-regular: 'AkzidenzGroteskPro-Regular',
sans-serif,
Arial;
$font-light-condensed: 'AkzidenzGroteskPro-LightCn',
sans-serif,
Arial;

$ease25: all 0.25s ease-in-out;

// variables //
form input[type=text].error,
textarea.error {
    border-width: 1px !important;
    border-color: #dd2a1b !important;
    border-style: solid !important;
}

.white-popup {
    cursor: default;
    a.button {
        margin-top: 50px;
    }
    .phone-container {
        position: relative;
        #phone-error {
            position: absolute;
            display: block;
            bottom: calc(100% + 7px);
            right: 0;
            background: #dd2a1b;
            padding: 12px;
            color: white;
            font-size: 12px;
            line-height: 1.4;
            max-width: 150px;
            &:after {
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                content: '';
                background: #dd2a1b;
                bottom: -5px;
                right: 15px;
                transform: rotate(45deg);
            }
        }
        label.error.valid {
            display: none !important;
        }
    }
}

.mfp-container.mfp-s-ready.mfp-inline-holder,
.mfp-wrap,
.mfp-content {
    cursor: url(../../images/cursor.png), auto !important;
}

h1 {
    font-size: 90px;
    color: #fff;
    line-height: 1.2;
}

h2 {
    font-size: 35px;
    color: #000;
    line-height: 1.2;
}

.mobile-hidden {
    display: inline-block;
}

.bg-grey {
    background: #f2f2f2;
}

.bg-green {
    background: $green;
}

p {
    font-size: 16px;
    color: $dark;
    line-height: 1.2;
}

input[type=text],
input[type=phone],
input[type=mail],
textarea {
    background: #fff;
    padding: 12px 20px;
    color: rgba(38, 46, 57, 0.5);
    font-family: $font-regular;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #fff;
    max-width: 230px;
    width: 100%;
    transition: $ease25;
}

.button {
    font-size: 16px;
    display: block;
    text-align: center;
    padding: 14px 20px;
    font-family: $font-regular;
    line-height: 1.2;
    border-radius: 5px;
    color: #fff;
    max-width: 230px;
    width: 100%;
    text-transform: uppercase;
    background: $green;
    border: none;
    transition: $ease25;
    &:hover {
        background: $dark-green;
    }
}

.phone-container {
    position: relative;
    input {
        padding-left: 33px;
    }
    &:after {
        content: '+7';
        display: block;
        position: absolute;
        bottom: 14px;
        margin: auto;
        left: 10px;
        color: rgba(38, 46, 57, 0.5);
        font-family: $font-regular;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
    }
}
// BEGIN head-container
.head-container {
    background: url(../../images/bg-head.jpg) center center no-repeat;
    background-size: cover;
    padding: 190px 0 30px
}
.head__title {
    font-size: 90px;
    font-family: $font-light;
    color: #fff;
    line-height: 1;
}
.head-container--editable {
    .head__title {
        width: 110%;
        font-size: 75px;
    }
}
.head__info {
    font-family: $font-light;
    font-size: 20px;
    color: #fff;
    line-height: 1.2;
    margin-top: 40px;
}
.head__grid {
    display: flex;
    justify-content: space-between;
}
.head__right,
.head__left {
    width: 50%;
}
.head__left {
    max-width: 616px;
}
.head__grid {
    .button {
        margin-top: 40px;
    }
}
.stats-grid {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.stats-grid__item {
    max-width: 250px;
    width: 24%;
    border-top: 1px solid rgba(255,255,255,0.2);
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.stats-grid__number {
    font-family: $font-light;
    font-size: 39px;
    color: $green;
    margin-right: 20px;
}
.stats-grid__info {
    font-family: $font-light;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.1;
}
// END head-container

// BEGIN corporate-transportation
.corporate-transportation {
    padding: 110px 0;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.corporate__title {
    max-width: 380px;
    width: 100%;
    margin-right: 30px;
}
.corporate__grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    justify-content: space-between;
}
.corporate__item {
    width: 49%;
    // margin-right: 0.5%;
    display: flex;
    align-items: center;
    // margin: 0 15px 45px 15px;
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }
}
.corporate__icon {
    margin-right: 20px;
    img {
        max-width: 60px;
        max-height: 60px;
        width: 50px;
        height: auto;
    }
}
.corporate__info {
    line-height: 1.2;
    color: $grey;
    font-size: 18px;
}
// END corporate-transportation

// BEGIN corporate-transportation

.transport__head {
    padding-top: 50px;
    padding-bottom: 60px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: flex-start;
}
.transport__title {
    max-width: 425px;
    width: 100%;
    margin-right: 30px;
}
.transport__grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 760px;
    justify-content: space-between;
    align-items: center;
}
.transport__item {
    width: 100%;
    display: flex;
    align-items: center;
}
.transport__number {
    font-family: $font-light-condensed;
    font-size: 72px;
    color: $green;
    margin-right: 20px;
}
.transport__info {
    font-family: $font-light;
    font-size: 18px;
    color: $grey;
    line-height: 1.1;
}
.transport__carousel .slick-slide {
    display: flex;
}
.transport__carousel {
    .slick-arrow {
        display: none;
    }
}
.transport__item {
    display: flex;
    padding: 25px;
    min-height: 280px;
    align-items: flex-end;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-wrap: wrap;
    overflow: hidden;
    h3 {
        font-family: $font-light;
        color: #fff;
        font-size: 18px;
        width: 100%;
        align-self: flex-end;
    }
    p {
        font-family: $font-light;
        color: $light-grey;
        font-size: 14px;
        margin-top: 10px;
        width: 100%;
    }
    .button {
        max-width: 155px;
        margin-top: 15px;
        padding: 10px 15px;
        transition: $ease25;
        margin-bottom: -67px;
    }
    &:hover {
        .button {
            margin-bottom: 0;
        }
    }
}
.transport__list {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.transport__list-image {
    max-height: 45px;
    height: 100%;
    margin-bottom: 10px;
}
.transport__list-item {
    width: 25%;
    min-height: 210px;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-right: none;
    &:last-child {
        border-right: 1px solid #eaeaea;
    }
    p {
        font-size: 18px;
        font-family: $font-light;
        color: $grey;
        line-height: 1.2;
        a {
            color: $grey;
            font-family: $font-regular;
        }
    }
}
// END corporate-transportation

// BEGIN targets
.targets {
    background: #f2f2f2;
    padding-top: 110px;
    .our-customers {
        margin-top: 140px;
    }
    .container {
        overflow: visible;
    }
}
.targets__grid {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.targets__item {
    width: 50%;
    display: flex;
    flex-wrap: no-wrap;
    border: 1px solid #eaeaea;
    min-height: 220px;
    border-right: none;
    border-bottom: none;
    position: relative;
    padding: 25px;
    transition: $ease25;
    &:nth-child(even) {
        border-right: 1px solid #eaeaea;
    }
    &:nth-child(n+3) {
        border-bottom: 1px solid #eaeaea;
    }
    &:hover {
        .target__bg-item {
            opacity: 1;
        }
        .targets__number {
            color: #fff;
            opacity: 1;
        }
        .targets__info {
            color: #fff;
        }
        .targets__icon {
            img.icon-bus {
                opacity: 1;
                right: 130px;
            }
        }
    }
    &:nth-child(1) {
        &:hover {
            padding-top: 0;
            padding-left: 0;
        }
        .target__bg-item {
            right: 0;
            bottom: 0;
        }
    }
    &:nth-child(2) {
        &:hover {
            padding-top: 0;
            padding-right: 0;
        }
        .target__bg-item {
            left: 0;
            bottom: 0;
        }
    }
    &:nth-child(3) {
        &:hover {
            padding-bottom: 0;
            padding-left: 0;
        }
        .target__bg-item {
            right: 0;
            top: 0;
        }
    }
    &:nth-child(4) {
        &:hover {
            padding-bottom: 0;
            padding-right: 0;
        }
        .target__bg-item {
            left: 0;
            top: 0;
        }
    }
}
.target__bg-item {
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: $ease25;
}
.targets__info-container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
    transition: $ease25;
    max-width: 280px;
    .button {
        padding: 10px 15px;
        max-height: 40px;
        // margin-top: 10px;
        align-self: flex-end;
    }
}
.targets__number {
    width: 100%;
    color: $dark;
    opacity: 0.2;
    font-size: 33px;
    font-family: $font-light-condensed;
    transition: $ease25;
}
.targets__info {
    width: 100%;
    align-self: flex-end;
    font-size: 18px;
    font-family: $font-light;
    color: $dark;
    max-width: 280px;
    transition: $ease25;
}
.targets__icon {
    width: 50%;
    justify-content: flex-end;
    text-align: right;
    z-index: 2;
    overflow: hidden;
    position: absolute;
    z-index: 3;
    height: 100px;
    right: 0;
    bottom: 0;
    img {
        position: absolute;
        right: 25px;
        bottom: 0;
        width: 80px;
        height: auto;
        transition: $ease25;
    }
    img.icon-bus {
        right: 400px;
        position: absolute;
        opacity: 0;
    }
}
// END targets

// BEGIN application
.application {
    padding-top: 110px;
}
.application-border {
    border: 1px solid #eaeaea;
    // padding-left: 120px;
    padding: 60px 25px 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
    h2 {
        margin-top: 60px;
    }
    .application__left {
        align-self: flex-end;
        text-align: center;
        img {
            width: 90%;
            margin-bottom: -4px;
        }
    }
    .application__right {
        margin-left: 8%;
        max-width: 350px; 
        margin-bottom: 30px;
    }
    p {
        font-size: 18px;
        color: $grey;
        margin-top: 30px;
    }
    .application__links {
        display: flex;
        justify-content: flex-start;
        margin-top: 30px;
        a.google-button,
        a.appstore-button {
            display: block;
            margin-right: 10px;
            background-size: cover;
            img {
                max-width: 160px;
                width: 90%;
            }
        }
    }
}
// END application

// BEGIN license
.license {
    margin: 110px 0;
}
.license__grid {
    margin-top: 15px;
    border-top: 1px solid #eaeaea;
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
}
.license__left {
    max-width: 330px;
    width: 80%;
    margin-right: 4%;
    h3 {
        font-size: 18px;
        color: #000;
        font-family: $font-regular;
    }
    ul {
        li {
            padding: 7px 0;
            border-top: 1px solid #eaeaea;
            margin-top: 10px;
            a {
                display: inline;
                line-height: 1.2;
                border-bottom: 1px solid transparent;
                color: $grey;
                transition: $ease25;
                &:hover {
                    border-color: $green;
                }
            }
        }
    }
}
.license__right {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.license__right-item {
    width: 47%;
    margin: 0 1.5% 2.5% 1.5%;
    display: flex;
    min-height: 80px;
}
.license__right-weight-info {
    font-size: 14px;
    line-height: 1.2;
    color: $light-grey;
}
.license__right-link {
    display: inline;
    width: 100%;
    color: $grey;
    font-size: 18px;
    line-height: 1.2;
    border-bottom: 1px solid transparent;
    transition: $ease25;
    &:hover {
        border-color: $green;
    }
}
.license__right-image {
    margin-right: 20px;
    max-width: 55px;
    img {
        width: 55px;
        height: auto;
    }
}
// END license

// BEGIN why-we
.why-we {
    padding: 60px 0;
}
.why-we__grid {
    display: flex;
    justify-content: space-between;
}
.why-we__left {
    max-width: 425px;
    width: 100%;
    margin-right: 30px;
}
.why-we__right {
    flex-wrap: wrap;
        max-width: 760px;
}
.why-we__info {
    line-height: 1.35;
    font-size: 18px;
    font-family: $font-light;
    color: $grey;
}
// END why-we

// BEGIN customers-carousel
.our-customers {
    .slick-slider {
        .slick-arrow {
            position: absolute;
            top: -50px;
            right: 0;
            background: $green;
            width: 50px;
            height: 50px;
            font-size: 0;
            padding: 0;
            margin: 0;
            transition: $ease25;
            &:before {
                display: block;
                width: 10px;
                height: 10px;
                border: 2px solid #fff;
                font-size: 0;
                opacity: 1;
                position: absolute;
                top: calc(50% - 6px);
            }
            &:hover {
                background: $dark-green;
            }
            &.slick-next {
                &:before {
                    transform: rotate(-45deg);
                    border-left: none;
                    border-top: none;
                    left: calc(50% - 7px);
                }
            }
            &.slick-prev {
                right: 55px;
                left: auto;
                &:before {
                    transform: rotate(135deg);
                    border-left: none;
                    border-top: none;
                    right: calc(50% - 7px);
                }
            }
        }
    }
}
.our-customers__carousel {
    margin-top: 30px;
    position: relative;
}
.our-customers--editable {
    margin-top: 70px;
}
.our-customers__grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.our-customers__image {
    width: 25%;
    min-height: 140px;
    max-height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    text-align: center;
    border: 1px solid #eaeaea;
    border-right: none;
    padding: 15px;
    text-align: center;
    &:last-child {
        border-right: 1px solid #eaeaea;
    }
    a {
        display: block;
        margin: 0 auto;
    }
    img {
        max-height: 150px;
        max-width: 150px;
        height: auto;
        width: auto;
    }
}
// END customers-carousel
@import "_news-page";
@import "_bus";
@import "_order-bus";
@import "_night";
@import "_spb";
@import "_delivery";
@import "_footer";
@import "_media";
* {
    outline: none !important;
}