.container
  h2 Наши заказчики
  .our-customers__carousel
    .our-customers__item
      .our-customers__grid
        .our-customers__image
          a(href='#')
            img(src='images/carousel-1.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-2.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-3.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-4.png', alt='')
    .our-customers__item
      .our-customers__grid
        .our-customers__image
          a(href='#')
            img(src='images/carousel-1.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-2.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-3.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-4.png', alt='')
    .our-customers__item
      .our-customers__grid
        .our-customers__image
          a(href='#')
            img(src='images/carousel-1.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-2.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-3.png', alt='')
        .our-customers__image
          a(href='#')
            img(src='images/carousel-4.png', alt='')
