// Begin footer
footer.footer
  a#footer(href='#')
  // Begin footer-nav
  .footer-nav
    .container
      h2.footer-title Сэкономьте 80% своего времени на расчет тарифа
      p.footer-info
        | Оставьте заявку на сайте и получите 3 варианта с тарифами. Выберете подходящий тариф, который соответствует Вашим предпочтениям.
      form.footer-form.form-validation(action='#', method='#')
        .form-grid
          .input-container
            label(for='footer-name') Введите ваше имя
            input#footer-name(type='text', name='name', placeholder='Иванов Иван', required='')
          .input-container
            label(for='footer-mail') Ваша почта
            input#footer-mail(type='mail', name='mail', placeholder='info@info.ru', required='')
          .input-container.phone-container
            label(for='footer-phone') Ваш телефон
            input#footer-phone(type='text', name='phone', required='')
          .input-container
            input.button(type='submit', value='оставить заявку')
        .box
          input#file-2.inputfile.inputfile-2(type='file', name='file-2[]', data-multiple-caption='{count} files selected', multiple='')
          label(for='file-2')
            span + прикрепить файл
        .error-label-container.error-check
          label.container-checkbox
            | Согласен с 
            a(href='pdf.pdf', target='_blank') политикой конфиденциальности
            input(type='checkbox', checked='checked', name='personal-info', required)
            span.checkmark
      .under-footer
        .under-footer__left
          p © 2017 Корпоративные перевозки сотрудников PM-Logistics"
          a(href='#') 
            +icon('ico-fb')
            //- img(src='images/fb-icon.png', alt='')
        .under-footer__right
          ul
            li
              a.open-popup-link(href='#politic') политика конфиденциальности
            li
              a.open-popup-link(href='#politic') обработка персональных данных
            li
              p
                | Разработка - 
                a(href='http://bofer.ru/', target='_blank') Bofer.ru
  // End footer-nav
// End footer
