.container
  .why-we__grid
    .why-we__left
      h2.why-we__title
        | Почему
        br.mobile-hidden
        | 			выбирают нас?
    .why-we__right
      p.why-we__info
        | Мы предлагаем множество вариантов для своих заказчиков – это может быть, как корпоративный транспорт от метро, который регулярно будет подвозить персонал в офис, так и аренда большого пассажирского автобуса, периодически доставляющего ваших сотрудников на различные мероприятия.
      p.why-we__info
        | Все корпоративные автобусы в нашей компании обладают высоким уровнем комфорта и безопасности. Мы регулярно обслуживаем наш автопарк, а к работе допускаем только профессиональных водителей с большим стажем работы и соответствующей подготовкой. Звоните и заказывайте услуги корпоративного транспорта в нашей компании!
