.container
  .why-we__grid.why-we__grid--editable
    .why-we__left
      h2.why-we__title
        | Почему
        br.mobile-hidden
        | выбирают нас?
    .why-we__right
      .why-we__right-item
        p.why-we__number 01-
        p.why-we__info
          | В нашей команде работают профессионалы своего дела с опытом работы более 10 лет. Все водители проходят проверку перед каждым выездом. Строго соблюдают скоростной режим и правила дорожного движения.
      .why-we__right-item
        p.why-we__number 02-
        p.why-we__info
          | Предоставляем чистый, комфортабельный транспорт, с Wi-Fi и системой климат-контроль. Производится технический осмотр автобуса перед каждым выездом. В случае возникновения непредвиденной поломки в пути, в течение получаса предоставляется резервный автобус.
      .why-we__right-item
        p.why-we__number 03-
        p.why-we__info
          | Подбираем оптимальный маршрут до места назначения в объезд пробкам. Следить за передвижением транспорта можно через мобильное приложение и встроенную систему ГЛОНАСС. В реальном времени отслеживаем местоположение транспорта.
      .why-we__right-item
        p.why-we__number 04-
        p.why-we__info
          | Сотрудничаем исключительно с юридическими лицами. Предлагаем услуги развозки сотрудников в СПб промышленным и торговым компаниям, представителям бизнес центров и не только. Индивидуальный подход к каждому клиенту!
