---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout

block content

  // Begin wrapper-main
  .head-container.head-container--editable.about-company
    .container
      .head__grid
        .head__left
          h1.head__title О компании
          a.button.about-editable(href='#', download='') скачать презентацию
        .main__right
          h2.head__sub-title
            | Наша компания работает с 2013 года и занимается корпоративными перевозками сотрудников до места работы. В первую очередь мы заботимся о безопасности наших пассажиров.
          p.head__info
            | Наши транспортные средства оснащены всем необходимым и ваши сотрудники будут чувствовать себя комфортно. PM-Logistics — это быстрое и выгодное решение для кампаний, нуждающихся в перевозке персонала. На данный момент наша компания является одним из крупнейших поставщиком корпоративных перевозок в Москве.
  .wrapper-main
    // Begin reviews
    .reviews
      .container
        h2 Отзывы
        .reviews-carousel
          // <div class="reviews-carousel__item">
          a(href='images/review-1.jpg')
            img(src='images/review-1.jpg', alt='')
          // </div>
          // <div class="reviews-carousel__item">
          a(href='images/review-2.jpg')
            img(src='images/review-2.jpg', alt='')
          // </div>
          // <div class="reviews-carousel__item">
          a(href='images/review-3.jpg')
            img(src='images/review-3.jpg', alt='')
          // </div>
          // <div class="reviews-carousel__item">
          a(href='images/review-4.jpg')
            img(src='images/review-4.jpg', alt='')
          // </div>
          // <div class="reviews-carousel__item">
          a(href='images/review-1.jpg')
            img(src='images/review-1.jpg', alt='')
          // </div>
    // End reviews
    // Begin question-answer
    .question-answer
      .container
        h2.question-answer__title Вопрос-ответ
        // Question-answer container divided into 2 parts
        // for white-grey gackground
        // begin first part Question-answer container
        .question-answer__grid
          .question-answer__item
            h3.question-answer__question — Возможно ли арендовать автобус на разовую доставку персонала из СПБ в Москву?
            p.question-answer__answer
              span.green-color Ответ:
              |  Возможно организовать перевозки по Москве и области, а также СПб и Ленинградской области. Перевозку на межгород мы не осуществляем. Так же разовая перевозка невозможна. Мы осуществляем доставку сотрудников до места работы и обратно только на постоянной основе по долгосрочному договору.
          .question-answer__item
            h3.question-answer__question
              | — Наша компания хочет воспользоваться вашими услугами, за сколько дней необходимо сделать заказ автобуса?
            p.question-answer__answer
              span.green-color Ответ:
              |  Наша компания занимается исключительно перевозками сотрудников на постоянной основе по договору фрахтования. После подписания договора нам нужно 2 недели, чтобы подготовить запуск маршрута. В отдельных случаях мы можем запуститься и через несколько дней.
          .question-answer__item
            h3.question-answer__question — Предоставляете ли вы скидки для ваших постоянных клиентов?
            p.question-answer__answer
              span.green-color Ответ:
              |  У нас исключительно индивидуальный подход к клиентам, поэтому все зависит от сложности маршрута и многих других факторов.
          .question-answer__item
            h3.question-answer__question
              | — Нашей компании требуется постоянная доставка работников в ночное время суток. Отличаются ли ночные расценки от дневных?
            p.question-answer__answer
              span.green-color Ответ:
              |  Ночные развозки несколько дороже, так как у водителя повышенный ночной тариф, так же есть иные повышающие коэффициенты.
        // end of first part Question-answer container
    // End question-answer
    .bg-grey
      .quetion-answer.container
        // begin second part Question-answer container
        .question-answer__grid.bottom-grid
          .question-answer__item
            h3.question-answer__question — Возможно ли арендовать автобус на разовую доставку персонала из СПБ в Москву?
            p.question-answer__answer
              span.green-color Ответ:
              |  Возможно организовать перевозки по Москве и области, а также СПб и Ленинградской области. Перевозку на межгород мы не осуществляем. Так же разовая перевозка невозможна. Мы осуществляем доставку сотрудников до места работы и обратно только на постоянной основе по долгосрочному договору.
          .question-answer__item
            h3.question-answer__question
              | — Наша компания хочет воспользоваться вашими услугами, за сколько дней необходимо сделать заказ автобуса?
            p.question-answer__answer
              span.green-color Ответ:
              |  Наша компания занимается исключительно перевозками сотрудников на постоянной основе по договору фрахтования. После подписания договора нам нужно 2 недели, чтобы подготовить запуск маршрута. В отдельных случаях мы можем запуститься и через несколько дней.
          .question-answer__item
            h3.question-answer__question — Предоставляете ли вы скидки для ваших постоянных клиентов?
            p.question-answer__answer
              span.green-color Ответ:
              |  У нас исключительно индивидуальный подход к клиентам, поэтому все зависит от сложности маршрута и многих других факторов.
          .question-answer__item
            h3.question-answer__question
              | — Нашей компании требуется постоянная доставка работников в ночное время суток. Отличаются ли ночные расценки от дневных?
            p.question-answer__answer
              span.green-color Ответ:
              |  Ночные развозки несколько дороже, так как у водителя повышенный ночной тариф, так же есть иные повышающие коэффициенты.
        // end of second part Question-answer container
      // Begin license
      .license
        .container
          h2 Лицензии и сертификаты
          .license__grid
            .license__left
              h3 Соблюдаем нормативно-правовые акты
              ul
                li
                  a(href='#') ФЗ No196 от 10.12.95 «О безопасности дорожного движения».
                li
                  a(href='#')
                    | ФЗ «Устав автомобильного транспорта и городского наземного электрического транспорта».
                li
                  a(href='#')
                    | Постановление правительства РФ No112 от 14.02.09 «Об утверждении правил перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом».
            .license__right
              .license__right-item
                .license__right-image
                  // <img src="images/icons/doc-file.svg" alt="">
                  .license-icon
                    svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                      style.
                        .st0{fill:#5ab947}
                      g(id='Слой_4_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                      g(id='Слой_2_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                        text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
                .license__right-info
                  a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                  p.license__right-weight-info 234 кб
              .license__right-item
                .license__right-image
                  // <img src="images/icons/doc-file.svg" alt="">
                  .license-icon
                    svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                      style.
                        .st0{fill:#5ab947}
                      g(id='Слой_4_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                      g(id='Слой_2_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                        text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
                .license__right-info
                  a.open-popup-link.license__right-link(href='#license-popup') Система менеджмента качества сертифицирована по стандарту ISO 9001
                  p.license__right-weight-info 234 кб
              .license__right-item
                .license__right-image
                  // <img src="images/icons/doc-file.svg" alt="">
                  .license-icon
                    svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                      style.
                        .st0{fill:#5ab947}
                      g(id='Слой_4_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                      g(id='Слой_2_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                        text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
                .license__right-info
                  a.open-popup-link.license__right-link(href='#license-popup')
                    | Проверки надзорных органов перед Эстафетой Олимпийского огня не выявили нарушений
                  p.license__right-weight-info 234 кб
              .license__right-item
                .license__right-image
                  // <img src="images/icons/doc-file.svg" alt="">
                  .license-icon
                    svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                      style.
                        .st0{fill:#5ab947}
                      g(id='Слой_4_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                      g(id='Слой_2_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                        text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
                .license__right-info
                  a.open-popup-link.license__right-link(href='#license-popup') Грамота к памятной медали от президента Российской Федерации В. Путина
                  p.license__right-weight-info 234 кб
              .license__right-item
                .license__right-image
                  // <img src="images/icons/doc-file.svg" alt="">
                  .license-icon
                    svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                      style.
                        .st0{fill:#5ab947}
                      g(id='Слой_4_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                      g(id='Слой_2_1_')
                        path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                        text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
                .license__right-info
                  a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                  p.license__right-weight-info 234 кб
      // End license
      // Begin our-customers
      .our-customers.our-customers--editable
        include components/_customers-carousel
      // End our-customers
