---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout

block content

  // Begin wrapper-main
  .head-container.head-container--editable.about-company
    .container
      .head__grid
        .head__left
          h1.head__title О компании
          a.button.about-editable(href='#', download='') скачать презентацию
        .main__right
          h2.head__sub-title
            | Наша компания работает с 2013 года и занимается корпоративными перевозками сотрудников до места работы. В первую очередь мы заботимся о безопасности наших пассажиров.
          p.head__info
            | Наши транспортные средства оснащены всем необходимым и ваши сотрудники будут чувствовать себя комфортно. PM-Logistics — это быстрое и выгодное решение для кампаний, нуждающихся в перевозке персонала. На данный момент наша компания является одним из крупнейших поставщиком корпоративных перевозок в Москве.
  .wrapper-main
    // Begin reviews
    .reviews
      .container
        h2 Отзывы
        .reviews-carousel
          a(href='#' data-mfp='../images/review-1.jpg')
            img(src='../images/review-1.jpg', alt='')
          a(href='#' data-mfp='../images/review-2.jpg')
            img(src='../images/review-2.jpg', alt='')
          a(href='#' data-mfp='../images/review-3.jpg')
            img(src='../images/review-3.jpg', alt='')
          a(href='#' data-mfp='../images/review-4.jpg')
            img(src='../images/review-4.jpg', alt='')
          a(href='#' data-mfp='../images/review-1.jpg')
            img(src='../images/review-1.jpg', alt='')
          a(href='#' data-mfp='../images/review-1.jpg')
            img(src='../images/review-1.jpg', alt='')
          a(href='#' data-mfp='../images/review-1.jpg')
            img(src='../images/review-1.jpg', alt='')
    // End reviews
    // Begin question-answer
    .question-answer
      .container
        h2.question-answer__title Вопрос-ответ
        // Question-answer container divided into 2 parts
        // for white-grey gackground
        // begin first part Question-answer container
        .question-answer__grid
          .question-answer__item
            h3.question-answer__question — Возможно ли арендовать автобус на разовую доставку персонала из СПБ в Москву?
            p.question-answer__answer
              span.green-color Ответ:
              |  Возможно организовать перевозки по Москве и области, а также СПб и Ленинградской области. Перевозку на межгород мы не осуществляем. Так же разовая перевозка невозможна. Мы осуществляем доставку сотрудников до места работы и обратно только на постоянной основе по долгосрочному договору.
          .question-answer__item
            h3.question-answer__question
              | — Наша компания хочет воспользоваться вашими услугами, за сколько дней необходимо сделать заказ автобуса?
            p.question-answer__answer
              span.green-color Ответ:
              |  Наша компания занимается исключительно перевозками сотрудников на постоянной основе по договору фрахтования. После подписания договора нам нужно 2 недели, чтобы подготовить запуск маршрута. В отдельных случаях мы можем запуститься и через несколько дней.
          .question-answer__item
            h3.question-answer__question — Предоставляете ли вы скидки для ваших постоянных клиентов?
            p.question-answer__answer
              span.green-color Ответ:
              |  У нас исключительно индивидуальный подход к клиентам, поэтому все зависит от сложности маршрута и многих других факторов.
          .question-answer__item
            h3.question-answer__question
              | — Нашей компании требуется постоянная доставка работников в ночное время суток. Отличаются ли ночные расценки от дневных?
            p.question-answer__answer
              span.green-color Ответ:
              |  Ночные развозки несколько дороже, так как у водителя повышенный ночной тариф, так же есть иные повышающие коэффициенты.
        // end of first part Question-answer container
    // End question-answer
    .bg-grey
      .quetion-answer.container
        // begin second part Question-answer container
        .question-answer__grid.bottom-grid
          .question-answer__item
            h3.question-answer__question — Возможно ли арендовать автобус на разовую доставку персонала из СПБ в Москву?
            p.question-answer__answer
              span.green-color Ответ:
              |  Возможно организовать перевозки по Москве и области, а также СПб и Ленинградской области. Перевозку на межгород мы не осуществляем. Так же разовая перевозка невозможна. Мы осуществляем доставку сотрудников до места работы и обратно только на постоянной основе по долгосрочному договору.
          .question-answer__item
            h3.question-answer__question
              | — Наша компания хочет воспользоваться вашими услугами, за сколько дней необходимо сделать заказ автобуса?
            p.question-answer__answer
              span.green-color Ответ:
              |  Наша компания занимается исключительно перевозками сотрудников на постоянной основе по договору фрахтования. После подписания договора нам нужно 2 недели, чтобы подготовить запуск маршрута. В отдельных случаях мы можем запуститься и через несколько дней.
          .question-answer__item
            h3.question-answer__question — Предоставляете ли вы скидки для ваших постоянных клиентов?
            p.question-answer__answer
              span.green-color Ответ:
              |  У нас исключительно индивидуальный подход к клиентам, поэтому все зависит от сложности маршрута и многих других факторов.
          .question-answer__item
            h3.question-answer__question
              | — Нашей компании требуется постоянная доставка работников в ночное время суток. Отличаются ли ночные расценки от дневных?
            p.question-answer__answer
              span.green-color Ответ:
              |  Ночные развозки несколько дороже, так как у водителя повышенный ночной тариф, так же есть иные повышающие коэффициенты.
        // end of second part Question-answer container
      // Begin license
      .license
        .container
          h2 Лицензии и сертификаты
          .license__grid
            .license__left
              h3 Соблюдаем нормативно-правовые акты
              ul
                li
                  a(href='#') ФЗ No196 от 10.12.95 «О безопасности дорожного движения».
                li
                  a(href='#')
                    | ФЗ «Устав автомобильного транспорта и городского наземного электрического транспорта».
                li
                  a(href='#')
                    | Постановление правительства РФ No112 от 14.02.09 «Об утверждении правил перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом».
            .license__right
              a.open-popup-link.license__right-item(href='#license-popup')
                .license__right-image
                  .license-icon
                    // +icon('ico-doc-file')
                    <img src="images/doc-file.png" alt="">
                .license__right-info
                  p.license__right-link Лицензия на осуществление деятельности по перевозке пассажиров
                  p.license__right-weight-info 234 кб
              a.open-popup-link.license__right-item(href='#license-popup')
                .license__right-image
                  .license-icon
                    // +icon('ico-doc-file')
                    <img src="images/doc-file.png" alt="">
                .license__right-info
                  p.license__right-link Система менеджмента качества сертифицирована по стандарту ISO 9001
                  p.license__right-weight-info 234 кб
              a.open-popup-link.license__right-item(href='#license-popup')
                .license__right-image
                  .license-icon
                    // +icon('ico-doc-file')
                    <img src="images/doc-file.png" alt="">
                .license__right-info
                  p.license__right-link Проверки надзорных органов перед Эстафетой Олимпийского огня не выявили нарушений
                  p.license__right-weight-info 234 кб
              a.open-popup-link.license__right-item(href='#license-popup')
                .license__right-image
                  .license-icon
                    // +icon('ico-doc-file')
                    <img src="images/doc-file.png" alt="">
                .license__right-info
                  p.license__right-link Грамота к памятной медали от президента Российской Федерации В. Путина
                  p.license__right-weight-info 234 кб
              a.open-popup-link.license__right-item(href='#license-popup')
                .license__right-image
                  .license-icon
                    // +icon('ico-doc-file')
                    <img src="images/doc-file.png" alt="">
                .license__right-info
                  p.license__right-link Лицензия на осуществление деятельности по перевозке пассажиров
                  p.license__right-weight-info 234 кб
      // End license
      // Begin our-customers
      .our-customers.our-customers--editable
        include components/_customers-carousel
      // End our-customers
