---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout

block content

  // Begin wrapper-main
  .wrapper-main
    // Class edit-header needs for editable header in dark colors
    .news-page.edit-header
      .container
        .head-news__container
          h1.head__title.head__title--editable Минивен 8-12 мест
        .bus-grid
          .bus-grid__item
            .bus-grid__head.bus-head-right
              .bus-grid__info-auto
                h2 14
                p единиц
              .bus-grid__carousel
                .bus-grid__auto(style='background-image: url(images/bus1.jpg);')
                .bus-grid__auto(style='background-image: url(images/bus1.jpg);')
                .bus-grid__auto(style='background-image: url(images/bus1.jpg);')
            .bus-grid__body.bus-body-left
              .bus-grid__body-item
                h3.bus-grid__title Hyundai Starex 9 мест
                p.bus-grid__sub-title
                  | Минивен Hyundai Starex настоящее решение для доставки небольшого количества сотрудников. Корпоративные перевозки микроавтобусом Hyundai Srarex отличаются повышенной комфортабельностью. Кожанные сиденья, магнитола, климат-контроль.
                .bus-grid__left
                  ul.bus-grid__list
                    li
                      p Марка
                    li
                      p Вместимость
                    li
                      p Стоимость
                .bus-grid__right
                  ul.bus-grid__list
                    li
                      p Hyundai Starex
                    li
                      p 9 мест
                    li
                      p от 900 руб/день
                a.button(href='#') заказать автобус
          .bus-grid__item
            .bus-grid__head.bus-head-right
              .bus-grid__info-auto
                h2 9
                p единиц
              .bus-grid__carousel
                .bus-grid__auto(style='background-image: url(images/bus2.jpg);')
                .bus-grid__auto(style='background-image: url(images/bus2.jpg);')
                .bus-grid__auto(style='background-image: url(images/bus2.jpg);')
            .bus-grid__body.bus-body-right
              .bus-grid__body-item
                h3.bus-grid__title Hyundai Starex 9 мест
                p.bus-grid__sub-title
                  | Минивен Hyundai Starex настоящее решение для доставки небольшого количества сотрудников. Корпоративные перевозки микроавтобусом Hyundai Srarex отличаются повышенной комфортабельностью. Кожанные сиденья, магнитола, климат-контроль.
                .bus-grid__left
                  ul.bus-grid__list
                    li
                      p Марка
                    li
                      p Вместимость
                    li
                      p Стоимость
                .bus-grid__right
                  ul.bus-grid__list
                    li
                      p Hyundai Starex
                    li
                      p 9 мест
                    li
                      p от 900 руб/день
                a.button(href='#') заказать автобус
