---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout

block footer
  include components/_footer-main
  
block content

  // Begin wrapper-main
  .head-container
    .container
      .head__grid
        .head__left
          h1.head__title Корпоративные перевозки
          p.head__info Ежедневная комфортная доставка сотрудников до работы и развоз после смены
          a.open-popup-link.button(href='#application-popup') расчитать маршрут
        .main__right
      .stats-grid
        .stats-grid__item
          p.stats-grid__number(data-number='85 000') 0
          p.stats-grid__info.animated
            | Пассажиров 
            br
            |     				ежемесячно
        .stats-grid__item
          p.stats-grid__number(data-number='500') 0
          p.stats-grid__info.animated
            | Ежедневных 
            br
            |     				рейсов
        .stats-grid__item
          p.stats-grid__number(data-number='110') 0
          p.stats-grid__info.animated
            | Единиц
            br
            |     				транспорта
        .stats-grid__item
          p.stats-grid__number(data-number='60') 0
          p.stats-grid__info.animated
            | Постоянных партнеров
            br
            |     				в Москве и области
  .wrapper-main
    // Begin corporate-transportation
    .corporate-transportation
      .container
        .corporate__title-container
          h2 Корпоративные перевозки от нашей компании — это удобно, быстро и безопасно
        .corporate__grid
          .corporate__item
            .corporate__icon
              img(src='images/icons/time.svg', alt='')
            p.corporate__info Заблаговременная подача комфортабельного автобуса за 30 минут до посадки.
          .corporate__item
            .corporate__icon
              img(src='images/icons/rudder.svg', alt='')
            p.corporate__info
              | Стаж водителей от 10-ти лет, каждый проходит стажировку, обучение, тестирование, плановые  инструктажи.
          .corporate__item
            .corporate__icon
              img(src='images/icons/connect.svg', alt='')
            p.corporate__info Wi-Fi, климат-контроль, удобные сидения с ремнями безопасности.
          .corporate__item
            .corporate__icon
              img(src='images/icons/protect.svg', alt='')
            p.corporate__info Пассажиры застрахованы в Росгосстрах.
          .corporate__item
            .corporate__icon
              img(src='images/icons/mess.svg', alt='')
            p.corporate__info Персональный менеджер.
    // End corporate-transportation
    // Begin transport
    .transport
      .container
        .transport__head
          .transport__title
            h2 Транспорт на любое количество сотрудников
          .transport__grid
            p.transport__number 110+
            p.transport__info
              | единиц
              br
              | 		    				транспорта
        .transport__carousel
          .transport__item(style='background: url(images/transport-1.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Минивены (8–12 мест)
              p Hyundai Starex
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-2.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Микроавтобусы (15–20 мест)
              p Mercedes Sprinter, Ford Transit
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-3.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Мидиавтобусы (21–35 мест)
              p Hyundai County, Hyundai Aerotown
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-4.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Автобусы (45 мест)
              p Mercedes 350, Higer, Kia Grandbird
              a.button(href='#') подробнее
        .transport__list
          .transport__list-item
            .transport__list-image
              // <img src="images/icons/comp.svg" alt="">
              svg(xmlns='http://www.w3.org/2000/svg', width='45', height='30')
                path(d='M10.9 15.6c-1.9 1.5-4 3-6 4.6-1 .8-2.1 1.4-3.4.7C.2 20.2 0 19.1 0 17.8V3.3v-1C.3.3 2.3-.6 4 .4c.7.4 1.3 1 2 1.5 1.7 1.3 3.3 2.6 5 3.9 1.9-.7 9.4-.7 11.1 0 1.6-1.2 3.2-2.4 4.7-3.7.7-.5 1.3-1.1 2.1-1.6 1.9-1.3 4-.2 4.2 2v16.1c-.2 2.1-2.3 3.1-4.1 1.9-.8-.5-1.4-1.1-2.2-1.6-1.4-1.1-2.8-2.1-4.2-3.2-.4-.3-.7-.4-1.2-.2s-1 .2-1.5.2h-6.5c-.7.2-1.5 0-2.5-.1zm20.9-5V3c0-.6-.1-1.2-.7-1.5-.7-.3-1.2 0-1.6.4-2.1 1.6-4.1 3.2-6.2 4.8-.6.3-.8.7-.8 1.3v5.3c0 .7.3 1.1.8 1.5 1.8 1.3 3.6 2.7 5.3 4.1.3.2.6.5.9.7 1.1.7 2.1.3 2.2-1v-.9c.1-2.4.1-4.8.1-7.1zm-30.5 0v7.5c0 .7.1 1.3.8 1.6.7.3 1.2 0 1.6-.4 2.1-1.6 4.1-3.1 6.2-4.7.5-.4.7-.8.7-1.4v-5c0-.8-.2-1.3-.8-1.7-2-1.5-3.8-3-5.7-4.4-.3-.2-.5-.4-.8-.6-.9-.4-1.7 0-1.9 1-.1.3 0 .7 0 1-.1 2.4-.1 4.7-.1 7.1zm15.4-3.9H13c-.6 0-1 .2-1 .9v6.1c0 .7.3.9 1 .9h7.2c.9 0 1-.1 1-1V7.7c0-.8-.2-1-1-1-1.2-.1-2.4 0-3.5 0z', fill='#5ab947')
            p
              | Наша компетенция — корпоративные перевозки, работаем только с юридическими лицами
          .transport__list-item
            .transport__list-image
              // <img src="images/icons/iso.svg" alt="">
              svg(xmlns='http://www.w3.org/2000/svg', width='44', height='25')
                style.
                  .st0{fill:#5ab947}
                path.st0(d='M27.6 6.4v.8C27.2 12 22 14.6 18 12c-1.1-.7-1.8-1.7-2.3-2.9-.6-1.7-.6-3.4-.1-5.1.6-1.9 1.8-3.1 3.7-3.7 1.3-.4 2.6-.5 3.9-.1 2.8.7 4.5 3.1 4.4 6.2zm-1.7.1c-.1-.8-.2-1.6-.4-2.3-.6-1.8-1.9-2.8-3.9-2.8-2.1 0-3.5.8-4.2 2.6-.7 1.7-.6 3.5.1 5.2.7 1.6 2.2 2.6 4 2.5 1.8-.1 3.3-1 3.8-2.7.4-.9.5-1.7.6-2.5zM13.2 3.7c-.3.1-.5.1-.7.1h-.7c-.3-.6-.6-1.2-1-1.7-.9-1-3.4-1.1-4.5-.2-.9.8-.9 2 .2 2.6.4.3.8.4 1.3.5 1 .3 2.1.5 3.1.8 1.6.5 2.5 1.5 2.6 3 .1 1.6-.7 3-2.2 3.6-1.9.8-3.8.7-5.6-.1-1.4-.7-2-1.9-2.2-3.6.5-.1 1-.1 1.6-.2.1.2.2.5.3.7.4 1.6 1.4 2.3 2.9 2.4.7 0 1.5-.1 2.3-.4.9-.3 1.4-1.2 1.3-2.2-.1-1-.7-1.5-1.5-1.7-1-.1-1.8-.3-2.6-.5S6.2 6.4 5.5 6c-1.8-1-2.1-3.3-.6-4.7.2-.2.4-.3.6-.5 1.6-1.1 4.6-1 6.2.1.9.6 1.4 1.5 1.5 2.8zM0 .4h1.3c.3.9.3 10.4.1 12.1H0V.4z')
            p Компания сертифицирована по менеджменту качества ISO 9001
          .transport__list-item
            .transport__list-image
              // <img src="images/icons/ball.svg" alt="">
              svg(xmlns='http://www.w3.org/2000/svg', width='43', height='37')
                path(d='M19.1 28.6c-.3-.1-.5-.3-.9-.5C20.1 24.8 22 21.6 24 18c-2 .9-3.9 1.5-5.9 1.3-2-.2-3.8-1-5.5-2.3-1 .8-1.8 1.8-2.7 2.7-.9.9-1.8 1.8-2.6 2.7-.9.9-1.8 1.9-2.7 2.9l-.9-.9 8.1-8.1C8.9 12.8 8.4 9 10.4 4.9 7 6.6 3.8 8.5.5 10.4c-.2-.4-.3-.6-.5-.9l.9-.6C5.1 6.5 9.3 4 13.5 1.6c3-1.7 6.1-2.1 9.3-.7 5.1 2.3 7.3 8.3 4.6 13.3-2.6 4.8-5.4 9.4-8.1 14.1 0 .1-.1.1-.2.3zm-.2-10.3c4.8 0 8.6-3.8 8.6-8.6S23.7 1.2 19 1.2c-4.8 0-8.6 3.7-8.6 8.6-.1 4.7 3.6 8.5 8.5 8.5z', fill='#5ab947')
            p
              | Система спутникового мониторинга ГЛОНАСС, круглосуточная диспетчерская 
              br
              a(href='tel:88002228460') 8 800 222-84-60
          .transport__list-item
            .transport__list-image
              // <img src="images/icons/doc.svg" alt="">
              svg(xmlns='http://www.w3.org/2000/svg', width='30', height='36')
                path(d='M0 13.9v-11-1C.1.6.6 0 1.8 0H12c.4 0 .9.3 1.2.6 2.4 2.3 4.7 4.7 7.1 7 .5.6.7 1.1.7 1.8v16.3c0 1.6-.6 2.2-2.2 2.2H2.2c-1.7 0-2.2-.5-2.2-2.3V13.9zm19.8-4.8h-7.9v-4c0-1.3.2-2.6-.1-3.8-2.5-.3-9.6-.2-10.7.2V26c0 .5.3.7.7.7h17.1c.7 0 .9-.3.9-1v-.6-14.5-1.5zm-6.7-6.6v5.4h5.4l-5.4-5.4z', fill='#5ab947')
            p Путевые листы, медосмотры, журналы выпуска на линию, инструктажи
          .transport__list-item
            .transport__list-image
              // <img src="images/icons/recycle.svg" alt="">
              svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40')
                style.
                  .st0{fill:#5ab947}
                path.st0(d='M6.2 4.1c.4-.1.7-.3 1-.4C15.6-.5 25.3 5 26.1 14.4v.1c0 .4.2 1.1-.5 1.2-.7.1-.5-.6-.6-1-.4-6-4.7-10.1-9.5-11-3.3-.7-6.3-.1-9.3 1.9.9.3 1.6.6 2.3.9.6.2 1.2.4 1.8.7.2.1.5.5.5.6-.1.4-.5.4-.9.2-1.7-.6-3.4-1.3-5.3-2C5 4.1 5.4 2.3 5.8.5c.1-.4.3-.7.7-.5.2.1.3.5.3.7-.1.9-.3 1.7-.5 2.5 0 .3 0 .6-.1.9zM21.4 23.2c-.4 1.9-.8 3.7-1.2 5.5-.1.2-.4.5-.6.5-.5 0-.5-.4-.4-.8.2-1 .4-2.1.7-3.3-.4.2-.7.2-.9.4-8 4-17.2-.5-18.8-9.3-.2-.6-.2-1.3-.2-2 0-.2.3-.4.5-.6.1.2.4.4.5.6.1.2 0 .5 0 .8.6 8.8 10.9 14 18.3 9.1.1-.1.2-.1.5-.3-1.3-.5-2.4-.9-3.5-1.3-.3-.1-.6-.3-.9-.4-.1-.1-.2-.3-.1-.4.1-.2.3-.3.5-.4.1 0 .3 0 .5.1 1.6.5 3.2 1.1 5.1 1.8z')
            p При поломке автобуса — замена на дежурный в течение 30 минут
    // End transport
    // Begin targets
    .targets
      .container
        h2 4 направления доставки сотрудников
        .targets__grid
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 01 -
              p.targets__info Перевозка сотрудников торговых и производственных компаний 
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              // <img class="icon icon-target-1" src="images/icons/target-1.svg" />
              // Generator: Adobe Illustrator 21.0.2, SVG Export Plug-In
              svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xmlns:a='http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/', x='0px', y='0px', width='34.3px', height='42.1px', viewbox='0 0 34.3 42.1', style='enable-background:new 0 0 34.3 42.1;', xml:space='preserve')
                style(type='text/css').
                  .st0{fill:#5AB947;}
                defs
                path.st0(d='M12.5,18.7c1.5-0.5,2-1.4,2.2-2.8c0.6-4.2,1.4-8.5,2.1-12.7c0-0.2,0.1-0.3,0.1-0.6c1.6,0,3.2,0,4.9,0\
                c0.1,1.4,0.3,2.8,0.4,4.2c0,0,0.1,0,0.1,0c0.4-2.3,0.7-4.6,1.1-6.9c1.8,0,3.7,0,5.6,0c0.5,4.7,1,9.3,1.5,14.1\
                c1.3-0.9,2.6-1.7,3.9-2.5c0,10.2,0,20.3,0,30.4c-0.8,0.3-0.8-0.2-0.8-0.7c0-3.7,0-7.4,0-11c0-0.3,0-0.7,0-1.1c-11,0-21.8,0-32.8,0\
                c0,0.4,0,0.7,0,1.1c0,3.7,0,7.4,0,11c0,0.5,0,1-0.8,0.7c0-7.2,0-14.4,0-21.7c0.3-0.1,0.6-0.1,1-0.2c-0.4-1.1,0.5-1.5,1.2-1.9\
                c3.1-2.1,6.2-4.1,9.3-6.2c0.3-0.2,0.5-0.3,0.9-0.6C12.5,13.9,12.5,16.3,12.5,18.7z M21.2,24.4c-6.8,0-13.5,0-20.3,0\
                c0,1.3,0,2.5,0,3.7c8.4,0,16.7,0,25,0c0-2.4,0-4.8,0-7.2c-8.4,0-16.6,0-25,0c0,0.3,0,0.5,0,0.9c6.8,0,13.5,0,20.3,0\
                C21.2,22.8,21.2,23.5,21.2,24.4z M23.3,11.8c0,2.4,0,4.7,0,7c2.1-1.4,4.1-2.7,6.1-4c0.2-0.1,0.3-0.6,0.3-0.9\
                c-0.2-2.5-0.5-4.9-0.7-7.4c0-0.5-0.3-0.6-0.7-0.6c-1.4,0-2.8,0-4.1,0c-0.5,0-0.7,0.1-0.8,0.7c-0.2,1.8-0.5,3.5-0.8,5.2\
                c0,0.1,0,0.2,0,0.3C22.7,12.1,22.9,12,23.3,11.8z M26.7,28.2c2.3,0,4.6,0,6.8,0c0-2.4,0-4.8,0-7.2c-2.3,0-4.5,0-6.8,0\
                C26.7,23.4,26.7,25.8,26.7,28.2z M11.6,20.1c0-2.4,0-4.8,0-7.1c-0.1,0-0.2,0-0.2,0c-3.1,2-6.1,4-9.2,6.1c-0.2,0.2-0.3,0.6-0.5,1\
                C5.1,20.1,8.4,20.1,11.6,20.1z M33.5,13.2c-0.1,0-0.2,0-0.2,0c-3.1,2-6.1,4-9.2,6.1c-0.2,0.1-0.3,0.4-0.5,0.7c3.4,0,6.7,0,9.9,0\
                C33.5,17.7,33.5,15.5,33.5,13.2z M22.3,20.1c0-2.3,0-4.5,0-6.8c-3.4,2.2-6.6,4.4-9.9,6.5c0,0.1,0.1,0.2,0.1,0.2\
                C15.8,20.1,19,20.1,22.3,20.1z M16.6,9.5c-0.4,2.5-0.8,4.9-1.3,7.5c2.1-1.4,4-2.7,6-4c0.1-0.1,0.2-0.2,0.2-0.3\
                c0.1-1.1,0.2-2.1,0.3-3.2C19.9,9.5,18.3,9.5,16.6,9.5z M20.4,22.8c-6.5,0-13,0-19.6,0c0,0.3,0,0.5,0,0.8c6.6,0,13,0,19.5,0\
                C20.4,23.2,20.4,23,20.4,22.8z M17.6,3.5c-0.2,1-0.3,2-0.5,3c1.5,0,2.8,0,4.3,0c-0.1-1.1-0.2-2-0.3-3C19.9,3.5,18.8,3.5,17.6,3.5z\
                M24.1,0.8C24,1.6,23.9,2.3,23.8,3c1.7,0,3.2,0,4.7,0c-0.1-0.8-0.2-1.5-0.2-2.2C26.9,0.8,25.6,0.8,24.1,0.8z M28.7,5.1\
                c0.1-0.1,0.1-0.1,0.2-0.2c-0.3-0.3-0.5-0.9-0.8-0.9c-1.5-0.1-2.9,0-4.5,0c-0.1,0.4-0.1,0.8-0.2,1.2C25.3,5.1,27,5.1,28.7,5.1z\
                M16.9,7.4c-0.1,0.4-0.1,0.8-0.2,1.2c1.6,0,3.2,0,4.8,0c0.1-1.2,0.1-1.2-1-1.2C19.3,7.4,18.2,7.4,16.9,7.4z')
                path.st0(d='M9.1,32.5c2.2,0,4.3,0,6.5,0c0,2.2,0,4.3,0,6.5c-2.2,0-4.3,0-6.5,0C9.1,36.8,9.1,34.6,9.1,32.5z M9.9,35.2\
                c0.7,0,1.4,0,2,0c0-0.7,0-1.3,0-1.9c-0.7,0-1.3,0-2,0C9.9,33.9,9.9,34.5,9.9,35.2z M12.8,33.2c0,0.7,0,1.4,0,2c0.7,0,1.3,0,1.9,0\
                c0-0.7,0-1.3,0-2C14.1,33.2,13.5,33.2,12.8,33.2z M11.9,38.1c0-0.7,0-1.3,0-1.9c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,1.9\
                C10.6,38.1,11.2,38.1,11.9,38.1z M14.7,38.1c0-0.7,0-1.3,0-1.9c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,1.9C13.4,38.1,14.1,38.1,14.7,38.1z')
                path.st0(d='M31.1,38.9c-2.1,0-4.2,0-6.4,0c0-2.1,0-4.3,0-6.5c2.1,0,4.2,0,6.4,0C31.1,34.6,31.1,36.7,31.1,38.9z M27.4,35.2\
                c0-0.7,0-1.3,0-2c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,2C26.1,35.2,26.7,35.2,27.4,35.2z M30.3,33.2c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,2\
                c0.7,0,1.3,0,2,0C30.3,34.5,30.3,33.9,30.3,33.2z M27.4,38.1c0-0.7,0-1.3,0-2c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,2\
                C26.2,38.1,26.8,38.1,27.4,38.1z M28.4,38.1c0.7,0,1.3,0,1.9,0c0-0.7,0-1.3,0-1.9c-0.7,0-1.3,0-1.9,0C28.4,36.8,28.4,37.4,28.4,38.1\
                z')
                path.st0(d='M16.9,38.9c0-2.2,0-4.3,0-6.5c2.2,0,4.3,0,6.5,0c0,2.2,0,4.3,0,6.5C21.2,38.9,19.1,38.9,16.9,38.9z M19.6,35.2\
                c0-0.7,0-1.4,0-2c-0.7,0-1.3,0-1.9,0c0,0.7,0,1.3,0,2C18.4,35.2,19,35.2,19.6,35.2z M22.5,33.3c-0.7,0-1.3,0-2,0c0,0.7,0,1.3,0,2\
                c0.7,0,1.3,0,2,0C22.5,34.5,22.5,33.9,22.5,33.3z M17.7,36.1c0,0.7,0,1.3,0,2c0.7,0,1.3,0,2,0c0-0.7,0-1.3,0-2\
                C19,36.1,18.4,36.1,17.7,36.1z M20.6,36.1c0,0.7,0,1.3,0,1.9c0.7,0,1.3,0,1.9,0c0-0.7,0-1.3,0-1.9C21.8,36.1,21.2,36.1,20.6,36.1z')
                path.st0(d='M6.8,33.2c-1.4,0-2.7,0-4.2,0c0,2.9,0,5.8,0,8.7C2.5,42,2.5,42,2.4,42.1c-0.2-0.2-0.6-0.3-0.6-0.5\
                c0-3,0-6,0-9.1c2,0,3.8,0,5.7,0c0,3.1,0,6.3,0,9.5C7,42.2,6.8,42,6.8,41.4c0-2.4,0-4.7,0-7.1C6.8,34,6.8,33.7,6.8,33.2z')
                path.st0(d='M4.1,38.7c-1.3-0.5-0.6-1.4-0.7-2.1c-0.1-0.4-0.2-1.1,0.7-0.9C4.1,36.6,4.1,37.6,4.1,38.7z')
              img.icon.icon-bus(src='images/icons/target-bus.svg', alt='')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 02 -
              p.targets__info Доставка сотрудников промышленных объектов
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              img.icon.icon-targets-2(src='images/icons/target-2.svg')
              img.icon.icon-bus(src='images/icons/target-bus.svg', alt='')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 03 -
              p.targets__info Перевозка работников бизнес-центров 
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              img.icon.icon-targets-3(src='images/icons/target-3.svg')
              img.icon.icon-bus(src='images/icons/target-bus.svg', alt='')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 04 -
              p.targets__info Доставка сотрудников логистических комплексов
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              img.icon.icon-target-4(src='images/icons/target-4.svg')
              img.icon.icon-bus(src='images/icons/target-bus.svg', alt='')
      // Begin our-customers
      .our-customers
        include components/_customers-carousel
        
      // End our-customers
    // End targets
    // Begin application
    .application
      .container
        .application-border
          .application__left
            img(src='images/application.png', alt='')
          .application__right
            h2 Удобное мобильное приложение
            p — отслеживайте передвижение наших автобусов в режиме Online:
            .application__links
              a.google-button(href='#')
                img(src='images/GooglePlay.png', alt='')
              a.appstore-button(href='#')
                img(src='images/appstore.png', alt='')
    // End application
    // Begin license
    .license
      .container
        h2 Лицензии и сертификаты
        .license__grid
          .license__left
            h3 Соблюдаем нормативно-правовые акты
            ul
              li
                a.open-popup-link(href='#license-popup') ФЗ No196 от 10.12.95 «О безопасности дорожного движения».
              li
                a.open-popup-link(href='#license-popup')
                  | ФЗ «Устав автомобильного транспорта и городского наземного электрического транспорта».
              li
                a.open-popup-link(href='#license-popup')
                  | Постановление правительства РФ No112 от 14.02.09 «Об утверждении правил перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом».
          .license__right
            .license__right-item
              .license__right-image
                // <img src="images/icons/doc-file.svg" alt="">
                .license-icon
                  svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                    style.
                      .st0{fill:#5ab947}
                    g(id='Слой_4_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                    g(id='Слой_2_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                      text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                // <img src="images/icons/doc-file.svg" alt="">
                .license-icon
                  svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                    style.
                      .st0{fill:#5ab947}
                    g(id='Слой_4_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                    g(id='Слой_2_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                      text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Система менеджмента качества сертифицирована по стандарту ISO 9001
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                // <img src="images/icons/doc-file.svg" alt="">
                .license-icon
                  svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                    style.
                      .st0{fill:#5ab947}
                    g(id='Слой_4_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                    g(id='Слой_2_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                      text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup')
                  | Проверки надзорных органов перед Эстафетой Олимпийского огня не выявили нарушений
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                // <img src="images/icons/doc-file.svg" alt="">
                .license-icon
                  svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                    style.
                      .st0{fill:#5ab947}
                    g(id='Слой_4_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                    g(id='Слой_2_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                      text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Грамота к памятной медали от президента Российской Федерации В. Путина
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                // <img src="images/icons/doc-file.svg" alt="">
                .license-icon
                  svg(xmlns='http://www.w3.org/2000/svg', width='34.9', height='38.6')
                    style.
                      .st0{fill:#5ab947}
                    g(id='Слой_4_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z', id='Слой_3_1_')
                    g(id='Слой_2_1_')
                      path.st0(d='M6.4 26.4H3.6c-2.1 0-3.6-1.5-3.6-3.6v-7.6c0-2.2 1.5-3.7 3.7-3.7h2.7v-.4-7.4c0-1.6.9-2.9 2.4-3.4.4-.2.8-.3 1.2-.3h13.7c.1 0 .3.1.4.2l10.6 10.6c.1.1.2.3.2.5V35c0 2-1.6 3.6-3.6 3.6H9.9c-2 0-3.6-1.5-3.6-3.6v-8.1c.1-.2.1-.4.1-.5zm1.4-15H20.5c.4 0 .7 0 1.1.1 1.5.4 2.6 1.8 2.6 3.4v7.5c0 .5 0 1.1-.2 1.6-.5 1.5-1.8 2.4-3.5 2.4H7.8v8.4c0 1.5.9 2.3 2.3 2.3h21.1c1.3 0 2.2-.9 2.2-2.2v-2-20.4-.4H26.3c-2.1 0-3.6-1.6-3.6-3.6V1.8v-.4H10.1c-1.4 0-2.3.9-2.3 2.3v7.7zm24.7-.7l-8.3-8.3v6.1c0 1.3.9 2.1 2.2 2.2h6.1z')
                      text(transform='translate(3.617 22.95)', font-size='12', font-family='MyriadPro-Regular', fill='#fff') JPG
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                p.license__right-weight-info 234 кб
    // End license
