---
title: Homepage title
bodyClass: homepage
---
extends shared/_layout

block footer
  include components/_footer-main
  
block content

  // Begin wrapper-main
  .head-container
    .container
      .head__grid
        .head__left
          h1.head__title Корпоративные перевозки
          p.head__info Ежедневная комфортная доставка сотрудников до работы и развоз после смены
          a.open-popup-link.button(href='#application-popup' data-effect='mfp-zoom-in') расчитать маршрут
        .main__right
      .stats-grid
        .stats-grid__item
          p.stats-grid__number(data-number='85 000') 0
          p.stats-grid__info.animated
            | Пассажиров 
            br
            |     				ежемесячно
        .stats-grid__item
          p.stats-grid__number(data-number='500') 0
          p.stats-grid__info.animated
            | Ежедневных 
            br
            |     				рейсов
        .stats-grid__item
          p.stats-grid__number(data-number='110') 0
          p.stats-grid__info.animated
            | Единиц
            br
            |     				транспорта
        .stats-grid__item
          p.stats-grid__number(data-number='60') 0
          p.stats-grid__info.animated
            | Постоянных партнеров
            br
            |     				в Москве и области
  .wrapper-main
    // Begin corporate-transportation
    .corporate-transportation
      .container
        .corporate__title-container
          h2 Корпоративные перевозки от нашей компании — это удобно, быстро и безопасно
        .corporate__grid
          .corporate__item
            .corporate__icon
              +icon('ico-time')
            p.corporate__info Заблаговременная подача комфортабельного автобуса за 30 минут до посадки.
          .corporate__item
            .corporate__icon
              +icon('ico-rudder')
            p.corporate__info
              | Стаж водителей от 10-ти лет, каждый проходит стажировку, обучение, тестирование, плановые  инструктажи.
          .corporate__item
            .corporate__icon
              +icon('ico-connect')
            p.corporate__info Wi-Fi, климат-контроль, удобные сидения с ремнями безопасности.
          .corporate__item
            .corporate__icon
              +icon('ico-protect')
            p.corporate__info Пассажиры застрахованы в Росгосстрах.
          .corporate__item
            .corporate__icon
              +icon('ico-mess')
            p.corporate__info Персональный менеджер.
    // End corporate-transportation
    // Begin transport
    .transport
      .container
        .transport__head
          .transport__title
            h2 Транспорт на любое количество сотрудников
          .transport__grid
            p.transport__number 110+
            p.transport__info
              | единиц
              br
              | 		    				транспорта
        .transport__carousel
          .transport__item(style='background: url(images/transport-1.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Минивены (8–12 мест)
              p Hyundai Starex
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-2.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Микроавтобусы (15–20 мест)
              p Mercedes Sprinter, Ford Transit
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-3.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Мидиавтобусы (21–35 мест)
              p Hyundai County, Hyundai Aerotown
              a.button(href='#') подробнее
          .transport__item(style='background: url(images/transport-4.jpg) center center no-repeat; background-size: cover;')
            .transport__item-info
              h3 Автобусы (45 мест)
              p Mercedes 350, Higer, Kia Grandbird
              a.button(href='#') подробнее
        .transport__list
          .transport__list-item
            .transport__list-image
              +icon('ico-comp')
            p
              | Наша компетенция — корпоративные перевозки, работаем только с юридическими лицами
          .transport__list-item
            .transport__list-image
              +icon('ico-iso')
            p Компания сертифицирована по менеджменту качества ISO 9001
          .transport__list-item
            .transport__list-image
              +icon('ico-ball')
            p
              | Система спутникового мониторинга ГЛОНАСС, круглосуточная диспетчерская 
              br
              a(href='tel:88002228460') 8 800 222-84-60
          .transport__list-item
            .transport__list-image
              +icon('ico-doc')
            p Путевые листы, медосмотры, журналы выпуска на линию, инструктажи
          .transport__list-item
            .transport__list-image
              +icon('ico-recycle')
            p При поломке автобуса — замена на дежурный в течение 30 минут
    // End transport
    // Begin targets
    .targets
      .container
        h2 4 направления доставки сотрудников
        .targets__grid
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 01 -
              p.targets__info Перевозка сотрудников торговых и производственных компаний 
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              +icon('ico-target-1')
              +icon('ico-target-bus')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 02 -
              p.targets__info Доставка сотрудников промышленных объектов
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              +icon('ico-target-2')
              +icon('ico-target-bus')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 03 -
              p.targets__info Перевозка работников бизнес-центров 
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              +icon('ico-target-3')
              +icon('ico-target-bus')
          .targets__item
            img.target__bg-item(src='images/bg-item.jpg', alt='')
            .targets__info-container
              .targets__number 04 -
              p.targets__info Доставка сотрудников логистических комплексов
              a.open-popup-link.button(href='#application-popup') расчитать маршрут
            .targets__icon
              +icon('ico-target-4')
              +icon('ico-target-bus')
      // Begin our-customers
      .our-customers
        include components/_customers-carousel
        
      // End our-customers
    // End targets
    // Begin application
    .application
      .container
        .application-border
          .application__left
            img(src='images/application.png', alt='')
          .application__right
            h2 Удобное мобильное приложение
            p — отслеживайте передвижение наших автобусов в режиме Online:
            .application__links
              a.google-button(href='#')
                img(src='images/GooglePlay.png', alt='')
              a.appstore-button(href='#')
                img(src='images/appstore.png', alt='')
    // End application
    // Begin license
    .license
      .container
        h2 Лицензии и сертификаты
        .license__grid
          .license__left
            h3 Соблюдаем нормативно-правовые акты
            ul
              li
                a.open-popup-link(href='#license-popup') ФЗ No196 от 10.12.95 «О безопасности дорожного движения».
              li
                a.open-popup-link(href='#license-popup')
                  | ФЗ «Устав автомобильного транспорта и городского наземного электрического транспорта».
              li
                a.open-popup-link(href='#license-popup')
                  | Постановление правительства РФ No112 от 14.02.09 «Об утверждении правил перевозок пассажиров и багажа автомобильным транспортом и городским наземным электрическим транспортом».
          .license__right
            .license__right-item
              .license__right-image
                .license-icon
                  // +icon('ico-doc-file')
                  <img src="images/doc-file.png" alt="">
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                .license-icon
                  // +icon('ico-doc-file')
                  <img src="images/doc-file.png" alt="">
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Система менеджмента качества сертифицирована по стандарту ISO 9001
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                .license-icon
                  // +icon('ico-doc-file')
                  <img src="images/doc-file.png" alt="">
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Проверки надзорных органов перед Эстафетой Олимпийского огня не выявили нарушений
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                .license-icon
                  // +icon('ico-doc-file')
                  <img src="images/doc-file.png" alt="">
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Грамота к памятной медали от президента Российской Федерации В. Путина
                p.license__right-weight-info 234 кб
            .license__right-item
              .license__right-image
                .license-icon
                  // +icon('ico-doc-file')
                  <img src="images/doc-file.png" alt="">
              .license__right-info
                a.open-popup-link.license__right-link(href='#license-popup') Лицензия на осуществление деятельности по перевозке пассажиров
                p.license__right-weight-info 234 кб
    // End license
