---
title: News page
bodyClass: homepage
---
extends shared/_layout

block content

  // Begin wrapper-main
  .wrapper-main
    .news-page
      .container
        .head-news__container
          h1.head__title.head__title--editable Новости
          a.button(href='#') вернуться к новостям
        .news-container
          .news-container__head
            .news-item__date
              h2 16
              p августа
              p 2016
            h2.news-container__title Учет расходов по доставке персонала на работу
          .news-content
            h3.news-content__sub-title
              | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
            p
              | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда:
            ul
              li
                p • работа производится вахтовым методом;
              li
                p • в компании работают инвалиды;
              li
                p • на место работы нельзя добраться экономичным общественным транспортом.
            h3
              | Способы транспортировки
              p
              p
                | Организация, взявшая на себя обязательство по доставке персонала на рабочие места должна выбрать вариант перевозки, который был бы достаточно комфортным для работников, с другой стороны – с наименьшими затратами для компании. Если фирма крупная — имеет свой автопарк, гаражное хозяйство, штатных водителей, то транспортные расходы по доставке персонала будут самыми минимальными. Однако не все организации обладают такими ресурсами. Остальным приходится либо арендовать транспорт с водителем, либо обратиться в компанию по перевозке пассажиров.
              h3 Учет расходов по доставке персонала на работу своим автотранспортом
              p
                | Если предприятие осуществляет транспортировку работников на своих автомобилях, то затраты по таким работам в балансе предприятия отражаются, как хозяйственная деятельность без оказания услуг сторонним организациям. Соответственно, нет дохода, нет налогов. Бухгалтерского отражения потребуют расходы на содержания транспорта, приобретение топлива, зарплата водителей, амортизация машины. Эти расходы идут на себестоимость и понижают налогооблагаемую базу предприятия.
              h3 Проблемы учета в других случаях
              p
                | Расходы по доставке сотрудников на работу должны облагаться налогом на доход физических лиц (НДФЛ). Этот вывод можно сделать, проанализировав ситуацию. Когда компания заключает отдельный договор на перевозку своих сотрудников, она создает им дополнительный доход. Дело в том, что если любой работник компании может добраться на работу экономичным общественным транспортом, то доставка за счет компании будет ему дополнительным вознаграждением в натуральном виде. В ином случае он совершал бы обязательные расходы на покупку билета на автобус, а так у него экономия, то есть возникает доход. Налог с которого организация должна удержать у источника выплаты.
              h3 В каких случаях НДФЛ не удерживается
              p
                | Не во всех случаях компания обязана удерживать подоходный налог со своих сотрудников. Если способ ведения хозяйственной деятельности подразумевает вахтовый метод работы, то у сотрудника нет иного способа добраться до места работы. Обычно вахтовые поселки находятся в отдаленных местах, куда не ходит обычный транспорт. У геологических организаций полевые условия работы создают такие же транспортные проблемы. В данном случае доход у работника не возникает, а компания выплачивает ему компенсацию за сложные условия труда. Такую позицию подтверждает статья 217 Налогового кодекса РФ.
              p
                | Расходы по доставке сотрудников на работу можно не облагать налогом с дохода, если вы перевозите свих сотрудников – инвалидов. Самостоятельно такие работники не могут добираться к месту работы. А компенсация на оплату транспортных расходов проходит в бухгалтерском учете как расходы на реабилитацию инвалидов.
              p
                | Учет расходов при упрощенной системе налогообложения Те предприятия, кто ведет упрощенную систему бухгалтерского учета и платят единый налог на доход, могут внести правило перевозки за свой счет сотрудников в коллективный трудовой договор. Тогда расходы по перевозке сотрудников будут уменьшать налогооблагаемую базу и соответственно увеличат расходы компании. НДФЛ в данном случае не возникает.
              a.button(href='#') вернуться к новостям
