---
title: News page
bodyClass: homepage
---
extends shared/_layout

block content

  // Begin wrapper-main
  .wrapper-main
    // Class edit-header needs for editable header in dark colors
    .news-page.edit-header
      .container
        .head-news__container
          h1.head__title.head__title--editable Новости
        .news-grid
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
          a.news-item(href='#')
            .news-item__layout
            .news-item__date
              h2 16
              p августа
              p 2016
            .news-item__container
              h3.news-item__title Учет расходов по доставке персонала на работу
              p.news-item__info
                | Доставка сотрудников предприятия на место работы не является прямой обязанностью работодателя согласно российскому законодательству. В трудовом договоре может быть предусмотрен такой пункт в тех случаях, когда: работа производится вахтовым методом; в компании работают инвалиды; на место работы нельзя добраться экономичным
        .index-pages-list
          a.index-page.active(href='#') 1
          a.index-page(href='#') 2
          a.index-page(href='#') 3
          a.index-page(href='#') 4
          a.index-page(href='#') 5
