---
title: Price
bodyClass: homepage
---
extends shared/_layout

block content
  
  // Begin wrapper-main
  .wrapper-main.bg-grey
    // Class edit-header needs for editable header in dark colors
    .news-page.edit-header
      .container
        .head-news__container
          h1.head__title.head__title--editable Стоимость услуг
    .price
      .container
        .price__grid
          .price__item.mobile-hidden-1024
            .price__item-head
            .price__item-body.price__item-body--font-bold
              ul.price__item-list
                li
                  p персональный менеджер
                li
                  p доступ в систему глонасс
                li
                  p время подачи автобуса
                li
                  p время замены на случай поломки
                li
                  p отсрочка платежа
                li
                  p фиксация стоимости
                li
                  p брендирование
                li
                  p стаж водителя
                li
                  p замена водителя
                li
                  p год выпуска Т.С.
          .price__item
            .price__item-head
              h2.price__title Эконом
              h3.price__sub-title от 4 500р. в день
            .price__item-body
              ul.price__item-list
                li
                  p.desktop-hidden персональный менеджер
                  p нет
                li
                  p.desktop-hidden доступ в систему глонасс
                  p нет
                li
                  p.desktop-hidden время подачи автобуса
                  p за 5 мин до посадки
                li
                  p.desktop-hidden время замены на случай поломки
                  p в течение 90 минут
                li
                  p.desktop-hidden отсрочка платежа
                  p предоплата
                li
                  p.desktop-hidden фиксация стоимости
                  p нет
                li
                  p.desktop-hidden брендирование
                  p дополнительная плата
                li
                  p.desktop-hidden стаж водителя
                  p от 3 лет
                li
                  p.desktop-hidden замена водителя
                  p нет
                li
                  p.desktop-hidden год выпуска Т.С.
                  p от 7 лет
              a.button(href='#') заказать
          .price__item.is-active
            .price__item-head
              h2.price__title Оптимальный
              h3.price__sub-title от 6 000р. в день
            .price__item-body
              ul.price__item-list
                li
                  p.desktop-hidden персональный менеджер
                  p есть
                li
                  p.desktop-hidden доступ в систему глонасс
                  p по запросу
                li
                  p.desktop-hidden время подачи автобуса
                  p за 30 мин до посадки
                li
                  p.desktop-hidden время замены на случай поломки
                  p в течение 45 минут
                li
                  p.desktop-hidden отсрочка платежа
                  p 15 дней
                li
                  p.desktop-hidden фиксация стоимости
                  p на 1 год
                li
                  p.desktop-hidden брендирование
                  p дополнительная плата
                li
                  p.desktop-hidden стаж водителя
                  p от 5 лет
                li
                  p.desktop-hidden замена водителя
                  p в течении 5 дней
                li
                  p.desktop-hidden год выпуска Т.С.
                  p от 7 до 3 лет лет
              a.button(href='#') заказать
          .price__item
            .price__item-head
              h2.price__title Премиум
              h3.price__sub-title от 7 500р. в день
            .price__item-body
              ul.price__item-list
                li
                  p.desktop-hidden персональный менеджер
                  p есть
                li
                  p.desktop-hidden Полный доступ + приложение
                  p по запросу
                li
                  p.desktop-hidden время подачи автобуса
                  p за 60 мин до посадки
                li
                  p.desktop-hidden время замены на случай поломки
                  p в течение 30 минут
                li
                  p.desktop-hidden отсрочка платежа
                  p 30 дней
                li
                  p.desktop-hidden фиксация стоимости
                  p на 2 года
                li
                  p.desktop-hidden брендирование
                  p включено
                li
                  p.desktop-hidden стаж водителя
                  p от 7 лет
                li
                  p.desktop-hidden замена водителя
                  p в течении 1 дня
                li
                  p.desktop-hidden год выпуска Т.С.
                  p не более 3 лет
              a.button(href='#') заказать
        p.under-info
          | Указана стартовая стоимость за 1 день. Точная стоимость будет расчитана при обращении
