.ico-an-bus {
  width: 1.77em;
  height: 1em;
  fill: initial;
}
.ico-ball {
  width: 1.16em;
  height: 1em;
  fill: #5ab947;
}
.ico-bus {
  width: 1.54em;
  height: 1em;
  fill: initial;
}
.ico-comp {
  width: 1.5em;
  height: 1em;
  fill: #5ab947;
}
.ico-connect-d {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.ico-connect {
  width: 1.28em;
  height: 1em;
  fill: initial;
}
.ico-doc-file {
  width: 0.9em;
  height: 1em;
  fill: initial;
}
.ico-doc {
  width: 0.83em;
  height: 1em;
  fill: #5ab947;
}
.ico-docs {
  width: 0.79em;
  height: 1em;
  fill: initial;
}
.ico-fb {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-hands {
  width: 1.55em;
  height: 1em;
  fill: initial;
}
.ico-iso {
  width: 1.76em;
  height: 1em;
  fill: initial;
}
.ico-lopata {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-math {
  width: 0.88em;
  height: 1em;
  fill: initial;
}
.ico-mess {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-phone {
  width: 1.01em;
  height: 1em;
  fill: initial;
}
.ico-pin {
  width: 0.84em;
  height: 1em;
  fill: initial;
}
.ico-places {
  width: 1.26em;
  height: 1em;
  fill: initial;
}
.ico-plus-symbol {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.ico-protect {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
.ico-recycle {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-route {
  width: 1.07em;
  height: 1em;
  fill: initial;
}
.ico-rudder {
  width: 1em;
  height: 1em;
  fill: initial;
}
.ico-target-1 {
  width: 0.81em;
  height: 1em;
  fill: initial;
}
.ico-target-2 {
  width: 0.98em;
  height: 1em;
  fill: initial;
}
.ico-target-3 {
  width: 1.04em;
  height: 1em;
  fill: initial;
}
.ico-target-4 {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.ico-target-bus {
  width: 2.14em;
  height: 1em;
  fill: initial;
}
.ico-time {
  width: 0.91em;
  height: 1em;
  fill: initial;
}
